@media screen and (max-width:1024px){
    #header ul li{
        position: relative;
        display: inline-block;
        list-style: none;
        top: -25px;
        left: 350px;
        padding: 15px;
    }
    #video{
        position: absolute;
        /* width: 100%; */
        z-index: -2;
    }
    .black{
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.685); 
    }
    
    .red-1{
        width: 250px;
        height: 250px;
        border-radius: 20px;
        background-image: url(images/service-item-bg.jpg);
        position: relative;
        top: -190px;
        left: 20px;
        z-index: 3;
        padding: 10px;
        
    }
    .red-2{
        width: 250px;
        height: 250px;
        border-radius: 20px;
        background-image: url(images/service-item-bg.jpg);
        position: relative;
        top: -190px;
        left: 40px;
        z-index: 3;
        padding: 10px;
    }
    .red-3{
        width: 250px;
        height: 250px;
        border-radius: 20px;
        background-image: url(images/service-item-bg.jpg);
        position: relative;
        top: -190px;
        left: 60px;
        z-index: 3;
        padding: 10px;
    }
    .rl-1{
        margin-top: 10px;
    }
    .icon-1{
        width: 100px;
        height: 100px;
        background-image: url(images/service-icon-02.png);
        background-size: 50px;
        background-repeat: no-repeat;
        position: relative;
        top: 30px;
        left: 100px;
    }
    .icon-2{
        width: 100px;
        height: 100px;
        background-image: url(images/service-icon-03.png);
        background-size: 50px;
        background-repeat: no-repeat;
        position: relative;
        top: 30px;
        left: 100px;
    }
    .icon-3{
        width: 100px;
        height: 100px;
        background-image: url(images/service-icon-01.png);
        background-size: 50px;
        background-repeat: no-repeat;
        position: relative;
        top: 30px;
        left: 100px;
    }
    .right{
        width: 50px;
        height: 50px;
        background-image: url(images/next.png);
        background-repeat: no-repeat; 
        position: relative;
        left: 250px;
        top: -100px;
    }

    /* second page  */

    .img1{
        height: 115vh;
        background-image: url(images/meetings-bg.jpg);
        position: relative;
        top: 570px;
        z-index: 2;
    }
    .box1{
        width: 250px;
        height: 450px;
        background-color: white;
        position: relative;
        top: -100px;
        left: 50px;
        border-radius: 20px;
        z-index: 2;
        padding: 40px;
    }

    .meet{
        position: relative;
        top: -500px;
        left: 100px;
        z-index: 2;
        font-size: larger;
        font-weight: 600;
    }
    .he{
    
        position: relative;
        top: -450px;
        left: 100px;
        z-index: 2;
        line-height: 40px;
        font-size: medium;
        font-weight: 600;
        
}
#b2{
    width: 171px;
    height: 50px;
    border: none;
    background-color: rgba(151,2,2);
    border-radius: 20px;
    color: #fff;
    position: relative;
    top: -420px;
    left: 90px;
    font-weight: 600;
    z-index: 2;
}
/* 4 white boxes  */

#box{
    display: flex;
    
}
#box2{
    display: flex;
}

.box-1{
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url(images/meeting-01.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: -800px;
    left: 350px;
    border-radius: 20px;
    z-index: 2;
}
.box-2{
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url(images/meeting-02.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: -800px;
    left: 400px;
    border-radius: 20px;
    z-index: 2;
}
.box-3{
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url(images/meeting-03.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: -790px;
    left: 350px;
    border-radius: 20px;
    z-index: 2;
}
.box-4{
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url(images/meeting-04.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: -790px;
    left: 400px;
    border-radius: 20px;
    z-index: 2;
}

/* third page  */
.img{
    height: 200vh;
    background-image: url(images/apply-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -290px;
    z-index: -2;
}
.boxl-1{
    width: 480px;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.178);
    position: relative;
    top: -1700px;
    left: 50px;
}
.boxl-2{
    width: 480px;
    height: 270px;
    background-color: rgba(255, 255, 255, 0.178);
    position: relative;
    top: 200px;
}
.boxr{
    width: 450px;
    height: 620px;
    background-color: #fff;
    position: relative;
    top: -1960px;
    left: 550px;
    border-radius: 20px;
}
.be{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    position: relative;
    top: 30px;
    left: 35px;
}
.belorem{
    color: #fff;
    font-size: medium;
    position: relative;
    top: 70px;
    left: 20px;
    line-height: 25px;
}
.join{
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgba(151,2,2);
    border-radius: 20px;
    color: #fff;
    position: relative;
    top: 100px;
    left: 40px;
    font-weight: 600;
}
.join1{
    width: 200px;
    height: 40px;
    border: none;
    background-color: goldenrod;
    border-radius: 20px;
    color: #fff;
    position: relative;
    top: 100px;
    left: 40px;
    font-weight: 600;
}

/* four page  */
.img2{
    height: 100vh;
    background-image: url(images/meetings-page-bg.jpg);
    margin-top: -250px;
}
.our{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 100px;
    left: 50px;
}
.l{
    width: 900px;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 150px;
    left: 50px;
}
.wb1{
    width: 200px;
    height: 350px;
    background-color: #fff;
    background-image: url(images/course-01.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    top: 200px;
    left: 50px;
}
.wb2{
    width: 200px;
    height: 350px;
    background-color: #fff;
    background-image: url(images/course-02.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    top: 200px;
    left: 280px;
}
.wb3{
    width: 200px;
    height: 350px;
    background-color: #fff;
    background-image: url(images/course-03.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    top: 200px;
    left: 510px;
}
.wb4{
    width: 200px;
    height: 350px;
    background-color: #fff;
    background-image: url(images/course-04.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    position: absolute;
    top: 200px;
    left: 740px;
}

/* five page  */
.img3{
    height: 100vh;
    background-image: url(images/facts-bg.jpg);
    background-repeat: no-repeat;
    margin-top: -1550px;
}
.last{
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    top: 50px;
    left: 50px;
}
#boxl-1{
    display: flex;
}
#boxl-2{
    display: flex;
}
.lbox-1{
    width: 240px;
    height: 208px;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 20px;
    position: relative;
    left: 50px;
    top: 50px;
}
.lbox-2{
    width: 240px;
    height: 181px;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 20px;
    position: relative;
    left: 70px;
    top: 60px;
}.lbox-3{
    width: 240px;
    height: 208px;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 20px;
    position: relative;
    left: 50px;
    top: 70px;
}.lbox-4{
    width: 240px;
    height: 181px;
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 20px;
    position: relative;
    left: 70px;
    top: 80px;
}

.yellow{
    width: 386px;
    height: 396px;
    background-image: url(images/video-item-bg.jpg);
    border-radius: 20px;
    /* background-repeat: no-repeat; */
    /* margin-top: -350px; */
    margin-left: 600px;
}
.play{
    width: 56px;
    height: 56px;
    background-image: url(images/play-icon.png);
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: 150px;
}

/* six page  */
.img4{
    height: 100vh;
    background-image: url(images/meetings-bg.jpg);
    background-repeat: no-repeat;
    margin-top: -70px;
}
.b1{
    width: 720px;
    height: 450px;
    background-color: #fff;
    border-radius: 20px;
    position: relative; 
    top: 100px;
    left: 20px;
}
.let{
    font-weight: 600;
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 25px;
}
.n{
    position: relative;
    top: 50px;
    left: 50px;
}
.n1{
    position: relative;
    top: 30px;
    left: 300px;
}
.n2{
    position: relative;
    top: 10px;
    left: 550px;
}
.r1{
    width: 240px;
    height: 450px;
    background-color: rgba(151,2,2);
    border-radius: 20px;
    position: relative; 
    top: -350px;
    left: 750px;
}
.ph{
    color: white;
    position: relative;
    top: 20px;
    left: 40px;
}
.ea{
    color: white;
    position: relative;
    top: 90px;
    left: 40px;
}
.st{
    color: white;
    position: relative;
    top: 160px;
    left: 40px;
}
.wu{
    color: white;
    position: relative;
    top: 220px;
    left: 40px;
}
.line3{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: -310px;
}
.copy{
    color: white;
    position: relative;
    top: 20px;
    left: 300px;
}
.l1{
    width: 100px;
    height: 1px;
    background-color: #fff;
    /* position: absolute; */
    top: 100px;
    left: 40px;
}
.l2{
    width: 120px;
    height: 1px;
    background-color: #fff;
    /* position: absolute; */
    top: 200px;
    left: 40px;
}
.l3{
    width: 140px;
    height: 1px;
    background-color: #fff;
    /* position: absolute; */
    top: 320px;
    left: 40px;
}
.l4{
    width: 180px;
    height: 1px;
    background-color: #fff;
    /* position: absolute; */
    top: 420px;
    left: 40px;
}
}